.login-bg

  .login-form
    %h2 Login
    = form_with(url: "/api/register?locale=#{I18n.locale}", local: true, class: 'auth-form') do |f|
      .form-group.name-input
        = f.label :name, 'Name'
        = f.text_field :name, class: 'form-control', required: true, placeholder: 'John Doe'
      .form-group.login-input
        = f.label :email, 'Email'
        = f.email_field :email, class: 'form-control', required: true, placeholder: 'your@email.com'

      .form-group.password-input
        = f.label :password, 'Password'
        = f.password_field :password, class: 'form-control', required: true, placeholder: '••••••••'

      .form-actions
        = f.submit 'Register', class: 'btn btn-primary'

      - if flash[:alert]
        .alert.alert-danger= flash[:alert]