.center-form
  .center-form-inside
    %h1
      =t('.list')

    %table
      %thead
        %tr
          %th
            =t('.name')
          %th
          %th
          %th

      %tbody
        - @themes.each do |theme|
          %tr
            %td= theme.name
            %td= link_to t('common.show'), theme
            %td= link_to t('common.edit'), edit_theme_path(theme)
            %td= link_to t('common.destroy'), theme, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to t('.new'), new_theme_path
