.center-form
  .center-form-inside
    %h1
      =t('.list')

    %table
      %thead
        %tr
          %th
            =t('.user')
          %th
            =t('.image')
          %th
            =t('.value')
          %th
          %th
          %th

      %tbody
        - @values.each do |value|
          %tr
            %td= value.user.name
            %td= value.image.name
            %td= value.value
            %td= link_to t('common.show'), value
            %td= link_to t('common.edit'), edit_value_path(value)
            %td= link_to t('common.destroy'), value, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to t('.new'), new_value_path
