.center-form
  .center-form-inside
    .show_user
      .row
        %aside.span4
          %section
            %h1
              = gravatar_for @user
              = @user.name

      %p
        %b= t('users.index.email')
        = @user.email

      = link_to t('users.index.work'), work_index_path, class: "btn btn-lg btn-primary"
