%nav.navbar.navbar-default.navbar-fixed-top
  .nav-container
    .nav-left
      .nav-el= link_to t('.home'), root_path
      .nav-el= link_to t('.help'), help_path
      .nav-el= link_to 'work', work_index_path
      .nav-el
        .locale= I18n.locale
      .nav-el= link_to image_tag(asset_path("Russia.png"), alt: "Русский", title: "Русский" ), locale: :ru
      .nav-el= link_to image_tag("UK.png", alt: "English", title: "English"), locale: :en
    .nav-right
      - if signed_in?
        .nav-el= link_to "Users", '#'
        .nav-el.logged
          #{current_user.email}
        = gravatar_for current_user
        .nav-el
          #fat-menu.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %p
              = t('.person')
              %b.caret
          %ul.dropdown-menu
            .nav-el= link_to t('.profile'), current_user
            .nav-el= link_to t('.settings'), '#'
            .nav-el.divider
            .nav-el
              = link_to t('.sign_out'), signout_path, method: "delete"
      - else
        .nav-el= link_to t('.sign_in'), signin_path


