= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label t('posts.index.title')
    = f.text_field :title
  .field
    = f.label t('posts.index.body')
    = f.textarea :body
  .actions
    = f.submit t('common.save')
