.center-form
  .center-form-inside
    %h1
      =t('.list')

    %table
      %thead
        %tr
          %th
            =t('.title')
          %th
            =t('.body')
          %th
          %th
          %th

      %tbody
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= post.body
            %td= link_to t('common.show'), post
            %td= link_to t('common.edit'), edit_post_path(post)
            %td= link_to t('common.destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to t('.new'), new_post_path
