.center-form
  .center-form-inside
    %h1
      =t('.list')

    %table
      %thead
        %tr
          %th
          %th
          %th

      %tbody
        %tr
          %th
            =t('.name')
          %th
            = t('.file')
          %th
            = t('.theme')
        - @images.each do |image|
          %tr
            %td= image.name
            %td= image.file
            %td= image.theme_id
            %td= link_to t('common.show'), image
            %td= link_to t('common.edit'), edit_image_path(image)
            %td= link_to t('common.destroy'), image, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to t('.new'), new_image_path
